[user]
        name = Ryan Castillo
        email = rmcastil@gmail.com
[alias]
        co = checkout
[color]
        diff = auto
        status = auto
        branch = auto
        interactive = auto
[core]
        excludesfile = ~/.gitignore
        editor = vim
        autocrlf = input
[apply]
        whitespace = nowarn
