[user]
        name = Ryan Castillo
        email = rmcastil@gmail.com
[alias]
        co = checkout
        iteration = log --pretty='tformat:%h (%ar) -- %d %s' --since='2 weeks ago' --author='rmcastil'
[color]
	ui = auto
[core]
        excludesfile = ~/.gitignore
        editor = nvim
        autocrlf = input
[apply]
        whitespace = nowarn
